<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une conférence</title>
</head>
<body>
    <h1>Ajouter une conférence</h1>
    <form method="post"> <!--method="post" indique que les données du formulaire seront envoyées au serveur en utilisant la méthode POST-->
        {% csrf_token %} <!-- Ce jeton protège le formulaire contre les attaques CSRF en s'assurant que le formulaire a été généré par votre application et non par une source externe-->
        {{ form.as_p }} <!--Cette ligne génère automatiquement les champs du formulaire à partir de l'objet form que vous avez défini dans votre vue-->
        <button type="submit">Enregistrer</button>
        {% if form.errors %}
    <div class="errors">
        <ul>
        {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|join:", " }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
    </form>
</body>
</html>
